html,
body {
  height:auto;
  width: auto;
}

#main_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-item a {
  color: #e3c08d;
}

.nav-item a .disabled {
  color: #898071;
}


